/* style.css */
body {
    background-color: #f8f9fa;
}

.card.shadow-soft {
    border: none;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.input-group-text {
    background: white;
    border-left: none;
    cursor: pointer;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.form-control {
    border-right: none;
    border-radius: 10px;
}

.form-control:focus {
    box-shadow: none;
    border-color: #dee2e6;
}

.btn-rounded {
    border-radius: 50px;
    padding: 10px;
    font-weight: bold;
}